<h1>Translate Data</h1>

<textarea
  [(ngModel)]="dataInput"
  placeholder="enter JSON data of object with multiple object"
  name="itext"
></textarea>

<select
  class="form-control control-border-color"
  [(ngModel)]="selectedLang"
  name="selection"
>
  <option *ngFor="let doctor of languageList | keyvalue" [value]="doctor.key">
    {{ doctor.value }}
  </option>
</select>
<button (click)="onTranslate()">Translate</button>

<textarea [(ngModel)]="stringData" placeholder="Output" name="opt"></textarea>

<a
  class="btn btn-clear"
  title="Download JSON"
  [href]="downloadJsonHref"
  download="{{ fileName }}"
  >Download</a
>
<p>
  {{ dataoflang | json }}
</p>
