<h1 class="d-flex justify-content-center">Translate Data</h1>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <textarea
      class="col-md-12 col-sm-12"
      [(ngModel)]="dataInput"
      placeholder="enter JSON data of object with multiple object"
      name="itext"
    ></textarea>
  </div>
  <div class="col-md-3 col-sm-3">
    <select
      class="form-control control-border-color"
      [(ngModel)]="selectedLang"
      name="selection"
    >
      <option selected disabled [value]="undefined">--Select language--</option>
      <option
        *ngFor="let doctor of languageList | keyvalue"
        [value]="doctor.key"
      >
        {{ doctor.value }}
      </option>
    </select>
  </div>
  <div class="col-md-1 col-sm-6">
    <button (click)="onTranslate()" class="btn btn-primary">Translate</button>
  </div>
  <div class="col-md-2 col-sm-6">
  <button (click)="downloadAllData(true)" class="btn btn-primary">Translate & Download All</button>
</div>
  <!-- <div class="col-md-3">
    <textarea
      class="col-md-12 col-sm-12"
      [(ngModel)]="stringData"
      placeholder="Output"
      name="opt"
    ></textarea>
  </div> -->
  <!-- <div class="col-md-2 col-sm-6">
    <a
      class="link-success"
      title="Download JSON"
      [href]="downloadJsonHref"
      download="{{ fileName }}"
      >Download json file</a
    >
  </div> -->
</div>

<p>
  {{ dataoflang | json }}
</p>
